body {
	margin: 0px;
}

a {
	text-decoration: none;
	color: #00d1fb;
}

a:hover {
	color: #62defd;
}

#button {
	width: 448px;
	height: 128px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	cursor: pointer;
    border-radius: 64px;
    background-color: #00d1fb;
}

#button:hover {
	background-color: #62defd;
}

#text {
	width: 640px;
	display: block;
	padding: 0px;
	padding-top: 32px;
	padding-bottom: 32px;
	font-family: helvetica;
	font-size: 32px;
	margin: 0px;
	margin-right: auto;
	margin-left: auto;
}

p{
	padding: 0px;
}

#name {
	font-family: helvetica;
	font-weight: bold;
	font-size: 170px;
	color: #f2f2f2;
	display: block;
	position: absolute;
	top: 253px;
	left: -250px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	z-index: -1;
}

#rel {
	position: relative;
	top: 100px;
	padding: 50px;
	width: 640px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#other {
	text-align: center;
	font-family: helvetica;
	padding-bottom: 20px;
	font-weight: bold;
	font-size: 50px;
}

#sites {
	text-align: center;
	font-family: helvetica;
	font-size: 40px;
}

#butttext {
    color: white;
    text-align: center;
    font-family: helvetica;
    font-weight: bold;
    font-size: 90px;
    height: 128px;
    line-height: 128px;
    margin-top: auto;
    margin-bottom: auto;
}
